.alt_blk { position:fixed; bottom:5%; width:99%; display:block; z-index:999999999999 !important;}
.alert_blk {     min-width: 120px;
    width: auto; background-color:#585858; display:table; color:#fff; margin:0 auto; font-size:14px; text-align:center; padding:11px 17px; border:solid 1px #444444; -webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px; font-family:Arial, Helvetica, sans-serif; }